@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');


.wrap {

    width: 100%; 
    height: 1100px; 
    perspective: 1300px;  
}
.wrap>video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: fixed; 
    opacity: 0.5;
}