.wrap #circle .face1 .inner {
display: flex;
flex-wrap: wrap;
}
.wrap #circle .face1 .inner>div {
    width: 290px; 
    height: 254px; 

    margin-bottom: 20px; 
    text-align: center;
}
.wrap #circle .face1 .inner>div p i {
    font-size: 100px; 
    transition: all 0.5s; 
    opacity: 0.7;
    
}
.wrap #circle .face1 .inner>div h2 {
    margin-top: 20px; 
    letter-spacing: 2px; 
    transition: all 0.5s;
}
.wrap #circle .face1 .inner>div:nth-of-type(odd) {
    margin-right:20px;
}

