
/*face7*/
.wrap #circle .face7 .inner {
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.wrap #circle .face7 .inner>div:nth-of-type(1) {
    width: 100%; 
    height: 400px; 
    margin-bottom: 20px;

}
.wrap #circle .face7 .inner>div:nth-of-type(1)  i {
    color: #fff; 
    font-size: 200px; 
    position: absolute; 
    bottom: 60px; 
    left: 50px; 
    opacity: 0.9;
}
.wrap #circle .face7 .inner>div:nth-of-type(1)  span {
    font-weight: bold;
    font-size: 120px; 
    position: absolute; 
    bottom: 60px; 
    right: 60px; 
}
.wrap #circle .face7 .inner>div:nth-of-type(1)  span em {
    font: bold normal 60px/1 "arial";  
    position: absolute; 
    right: -20px; 
    top: -20px; 
}



.wrap #circle .face7 .inner>div:nth-of-type(2) {
    width: 50%; 
    height: 380px; 
    margin-right: 10%; 
    
    text-align: center;
}
.wrap #circle .face7 .inner>div:nth-of-type(2)  i {
    font-size: 120px; 
    color: #fff; 
    opacity: 0.8; 
}
.wrap #circle .face7 .inner>div:nth-of-type(2)  h3 {
    margin-top: 30px; 
    margin-bottom: 14px; 
    font: bold 20px/1 "orbitron";
}
.wrap #circle .face7 .inner>div:nth-of-type(2) p {
    font: 16px/1 "arial"; 
    color: #ccc;
}
.wrap #circle .face7 .inner>div:nth-of-type(2) h4 {
    font-size: 40px; 
    margin-top: 20px; 
    letter-spacing: 3px; 
    position: relative;
}
.wrap #circle .face7 .inner>div:nth-of-type(2) h4 b {
    font: bold 24px/1 "arial"; 
    color: #ddd;
    position: absolute; 
    top: 0px; 
    right: 40px;
}



.wrap #circle .face7 .inner>div:nth-of-type(3) {
    width: 40%;
    height: 380px; 

    text-align: center;
}
.wrap #circle .face7 .inner>div:nth-of-type(3) i {
    font-size: 120px; 
    color: #fff; 
    opacity: 0.8; 
}
.wrap #circle .face7 .inner>div:nth-of-type(3) h3 {
    margin-top: 30px; 
    margin-bottom: 14px; 
    font: bold 20px/1 "orbitron";
}
.wrap #circle .face7 .inner>div:nth-of-type(3) p {
    font: 16px/1 "arial"; 
    color: #ccc;
}
.wrap #circle .face7 .inner>div:nth-of-type(3) h4 {
    font-size: 40px; 
    margin-top: 20px; 
    letter-spacing: 3px; 
    position: relative;
}
.wrap #circle .face7 .inner>div:nth-of-type(3) h4 b {
    font: bold 24px/1 "arial"; 
    color: #ddd;
    position: absolute; 
    top: 0px; 
    right: 40px;
}

